body{
  background-color: aqua;
  width:100%;
  align-items: center;
  justify-content: center;
}
.container >input{
  display: grid;
  height:40px;
  background-color:black;
  font-size: 20px;
  color:aqua;
  width:320px;
  text-align: right;
  border:none;
}
.number{
  display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items:start;
width:400px;
height:400px;
padding:1px;

}
.number > button{
  border:3px solid black;
  width:80px;
  height:80px;
  margin:1px;
  font-size: 20px;
}
.number > button:hover {
  color:aqua;
  background-color:black;
}
.equal{
  flex-basis: 61%;
}